body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; 
}

.imagebox{
  position: relative;
  text-align: center;
}
#image{
  width: 100%;
  height: auto;
  height: 100vh;
}

.centered_gif {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.centered_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-top: 270px;
  padding-left: 50px;
  
}
#cursor{
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
#view{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 50px;

  color: white;
}
#gif{
  visibility: visible;
}

#text{
  visibility: visible;
}